@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-Black.ttf");
}

h1, h2, h3, p {
    color: white;
    margin: 0;
}

/*@font-face {*/
/*    font-family: 'Inter';*/
/*    src: url("../fonts/Inter-Light.ttf");*/
/*    font-weight: 700;*/
/*}*/

html {
    margin: auto;
    font-family: 'Inter', A rial, sans-serif;
}

.body {
    margin: auto;
    background-image: linear-gradient(90deg, #7474BF 0%, #348AC7 100%);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;      
}

.header__logo {
    font-size: 48px;
    margin-right: 20px;    
}

.open-popup-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.profile-icon {
    width: 32px;
    height: 32px;
    fill: #333;
    transition: fill 0.3s;
}

.open-popup-btn:hover .profile-icon {
    fill: #007bff;
}














.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin: auto;
}

.auntification__content {
    max-width: 430px;
    width: 100%;
    min-height: 330px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px 10px;
}

.auntification__title {
    color: black;
    text-align: center;
    font-size: 24px;
    margin: auto;
    padding-bottom: 32px;
}

.auntification__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 490px;
    align-self: center;
}

.auntification__form_login {
    background-color: #ddd;
    height: 34px;
    border-radius: 10px;
    margin: 0px 40px 15px;
    border: 0;
    padding-left: 10px;
}

.auntification__form_login::placeholder {
    font-size: 17px;
}

.auntification__form_email-error {
    margin-left: 40px;
    margin-bottom: 5px;
}

.auntification__form_pass {
    background-color: #ddd;
    height: 34px;
    border-radius: 10px;
    margin: 0px 40px 15px;
    border: 0;
    padding-left: 10px;
}

.auntification__form_pass::placeholder {
    font-size: 16px;
}

input[type=text], input[type=password] {
    font-size: 16px;
}

.auntification__form_pass-error {
    margin-left: 40px;
    margin-bottom: 5px;
}


.auntification__frame {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
    gap: 25px;
}

.auntification__frame-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    gap: 50px;
}

.auntification__frame-inner_text {
    margin: auto;
}

.auntification__frame-inner_link {
    color: black;
}

.auntification__frame_lost-password {
    font-size: 16px;
    color: black;
    opacity: 0.8;
}

.auntification__frame_link {
    color: black;
}

.auntification__form_button {
    display: flex;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(16, 18, 66, .8);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    color: white;
    justify-content: center;
    align-self: center;
    margin: 0;
    border-radius: 10px;
    transition: linear 0.3s;
    cursor: pointer;
    border: none;
    padding: 10px 10px;
}

.auntification__form_button:hover {
    background-color: rgb(16, 18, 66, .85);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.auntification__form_button[disabled] {
    background-color: rgb(221, 221, 221, .7);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0);
    transition: linear 0.3s;
    color: black;
    cursor: not-allowed;
}








.registration__content {
    max-width: 430px;
    width: 100%;
    min-height: 330px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px 10px;
}

.registration__title {
    width: 338px;
    color: black;
    text-align: center;
    font-size: 24px;
    margin: auto;
    padding-bottom: 32px;
}

.registration__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 490px;
    align-self: center;
    box-sizing: border-box;
}

.registration__form_login {
    background-color: #ddd;
    height: 34px;
    border-radius: 10px;
    margin: 0px 40px 15px;
    border: 0;
    padding-left: 10px;
}

.registration__form_email {
    
    background-color: #ddd;
    height: 34px;
    border-radius: 10px;
    margin: 0px 40px 15px;
    border: 0;
    padding-left: 10px;
}

.registration__form_pass {
    
    background-color: #ddd;
    height: 34px;
    border-radius: 10px;
    margin: 0px 40px 15px;
    border: 0;
    padding-left: 10px;
}

.registration__form_confirm-pass {
    background-color: #ddd;
    height: 34px;
    border-radius: 10px;
    margin: 0px 40px 15px;
    border: 0;
    padding-left: 10px;
}

.registration__frame-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.registration__frame-inner_registration {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(16, 18, 66, .8);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    color: white;
    justify-content: center;
    align-self: center;
    margin: 0;
    border-radius: 10px;
    transition: linear 0.3s;
    cursor: pointer;
    border: none;
    padding: 10px 10px;
}

.registration__frame-inner_registration:hover {
    background-color: rgb(16, 18, 66, .85);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.registration__frame-inner_registration[disabled] {
    background-color: rgb(221, 221, 221, .7);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0);
    transition: linear 0.3s;
    color: black;
    cursor: not-allowed;
}

.registration__frame-inner_login {
    font-size: 16px;
    color: black;
    opacity: 0.8;
}


.reset-password-content {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px 10px;
}

.reset-password__title {
    width: 338px;
    color: black;
    text-align: center;
    font-size: 24px;
    margin: auto;
    padding-bottom: 8px;
}

.reset-password__input {
    background-color: #ddd;
    height: 34px;
    border-radius: 10px;
    margin: 0px auto 15px;
    border: 0;
    padding-left: 10px;
    min-width: 280px;
}

.reset-password__submit-btn {
    display: flex;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(16, 18, 66, .8);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    color: white;
    justify-content: center;
    align-self: center;
    margin: 0;
    border-radius: 10px;
    transition: linear 0.3s;
    cursor: pointer;
    border: none;
    padding: 10px 10px;
}

.reset-password__submit-btn:hover {
    background-color: rgb(16, 18, 66, .85);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.reset-password__submit-btn[disabled] {
    background-color: rgb(221, 221, 221, .7);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0);
    transition: linear 0.3s;
    color: black;
    cursor: not-allowed;
}

.popup__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.popup__close-btn:hover {
    color: #9c9c9c;
}

.popup__close-btn::before {
    content: "✖";
}
.open-popup-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon {
    width: 64px;
    height: 64px;
    fill: #fff;
    transition: fill 0.3s;
}

.open-popup-btn:hover .profile-icon {
    fill: #007bff;
}
